.outside-container {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    margin: 200px;
    height: auto;
    border: 2px solid lightgrey; /* Specify border with width and color */
}

.login {
    padding: 20px;
    flex-direction: column;
    text-align: center; /* Center text horizontally */
}

.username-container {
    border: 2px solid lightgrey;
    margin: 30px;
    font-size: 20px;
}

.text {
    text-align: center;
}

/* Add margin:auto to center the button horizontally */
.practice-button {
    margin: auto;
    
}
.para{
    font-size: 15px;
    color:black;
    font-weight: 500;
}

.sign-up{
    color:blue;
    cursor: pointer;
}
.phoneNum-container {
    display: flex;
    flex-direction: row; /* Display input and button horizontally */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    margin-bottom: 20px; /* Add margin to separate from username-container */
}

/* Adjust the margin between the input and button */
.phoneNum-container input {
    margin-right: 10px; /* Add some space between the input and button */
}
.spann{
    color:blue;
    cursor: pointer;
}
.error-message{
    color:red;
}